[Unit]
Description=Remote VNC Instance czalazar
Wants=network-online.target
After=network-online.target

[Service]
Environment=NETID=czalazar PORT=5124 COURSE=
User=czalazar
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/vncserver :${PORT} -geometry 1368x768 -rfbauth /home/${NETID}/.vnc/passwd -SecurityTypes=VNCAuth -xstartup /opt/vnc/xstartup -ZlibLevel 9
ExecStop=/usr/local/bin/vncserver -kill :${PORT}
MemoryMax=4096M
#MemoryLimit=4096M
CPUQuota=200%
#TimeoutStopSec=0
Type=forking